.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.list{
  display: flex;
  flex-direction: column;
  max-width: 70vw;
  margin: 0 auto;
}

.button {
  background: hotpink;
  border: 1px solid transparent;
  color: white;
  margin-right: 1em;
  padding: .25em .75em;
  transition: all .25s ease-in;
}
.button:hover{
  background: white;
  border: 1px solid hotpink;
  color: #333;
}

.hidden{
  display:none;
}

li{
  list-style-type: none;
  text-align: left;
  margin-left: 10%;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 1rem;
  transition: 0.3s;
  margin-bottom: 5px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 
0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

img{
  width: 100%
}

.ingredient{
  list-style-type: none;
  text-align: left;
  margin: 0 auto;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ingredient p{
  /* font-size: 12px; */
  margin: 0;
}